@import 'vendor/bootstrap'

$elementHeight: 34px

body
  width: 792px
  margin: 4px 0 4px 8px
  height: $elementHeight

form
  display: flex

label, input, button
  margin-right: 8px

#search
  flex: 1 1 150px

input[type='checkbox']+label, #clear-search
  font-size: 14px
  width: $elementHeight
  font-weight: bold
  display: flex;
  justify-content: center;

input[type='checkbox']:checked+label
  color: #fff
  background-color: #666
  border-color: #555

.glyphicon-chevron-down
  position: relative
  top: 3px

#find, #find-prev
  flex: 0 1 64px
