@import "vendor/bootstrap"

$findWidth: 92px
$elementHeight: 34px
$buttonMargin: 8px

body
  width: 792px
  margin: 4px 0 4px 8px
  height: $elementHeight

form
  display: flex

// buttons
#find, #find-prev
  display: block
  flex: 0 1 $findWidth

#deep-search
  display: none
  flex: 0 1 ($findWidth * 2 + 8px)

.alert
  display: none
  flex: 0 1 ($findWidth * 2 + 8px)
  height: 34px
  padding: 6px 12px
  margin-bottom: 0

#progress, #download-shallow-csv
  font-family: arial, helvetica, sans-serif
  font-size: 12px
  margin: 6px 12px
  color: hsl(0,0, 30%)

#progress
  float: left
  margin-left: (($elementHeight + $buttonMargin) * 3)
  /* margin-left: 60px

#download-shallow-csv
  float: right

label, input, button, .alert
  margin-right: $buttonMargin

#search
  flex: 1 1 150px

input[type='checkbox']+label, #clear-search
  font-size: 14px
  width: $elementHeight
  font-weight: bold
  display: flex
  justify-content: center

// state
input[type='checkbox']:checked+label
  color: #fff
  background-color: #666
  border-color: #555

.glyphicon-chevron-down
  position: relative
  top: 3px

.deep-query
  margin-bottom: 6px

  + .shallow-footer, #find, #find-prev
    display: none
  #deep-search
    display: block


a.disabled
  cursor: not-allowed

// .invalid-regex must be below .deep-query for the cascade
.invalid-regex
  #find, #find-prev, #deep-search
    display: none
  .alert
    display: block
