.deepSearch-link-found, .deepSearch-link-not-found {
  cursor: pointer;
  margin-left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 8px;
  display: inline-block;

  text-align: center;
  color: #FFF;
  font-weight: bold;
}

.deepSearch-link-found {
  background-color: #0a9400;
}

.deepSearch-link-not-found {
  background-color: #940000;
}


