.tooltipster-base
  td, th
    text-align: left
    font-size: 16px
    line-height: 22px
  
  td:not(:last-child), th:not(:last-child)
    padding-right: 16px

.tooltipster
  font-family: arial, helvetica, sans-serif

