#default-popup {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 360px;
}

#filter {
  margin-bottom: 0;
}

#search-wrapper {
  margin-bottom: 0;
}

.checkboxes {
  position: relative;
  left: 20px;
}
