#default-popup {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 360px;
}

/* #filter { */
/*   margin-bottom: 0; */
/* } */

/* #search-wrapper { */
/*   margin-bottom: 0; */
/* } */

#search-wrapper .input-group {
  width: 100%;
}

#clear-search {
  width: 34px;
}


.checkbox-buttons {
  margin-bottom: 16px
}

.checkbox-buttons label {
  font-size: 18px;
  margin-right: 8px;
  width: 48px;
  font-weight: bold;
}

.checkbox-buttons input[type='checkbox']:checked+label {
  color: #fff;
  background-color: #666;
  border-color: #555;
}

#is-deep+label>span {
  position: relative;
  top: 4px;
}
